// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.detail-box {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 5px;
}
